* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    min-height: 10vh;
    padding: 1 rem;
}

#title {
    display: inline-block;
    padding: 1rem;

}

nav {
    height: 5vh;
    padding: 0.8rem;
    text-align: right;

}

nav a {
    background-color: blue;
    color: white;
    padding: 0.5rem;
    text-align: center;

}

a[href="/CursoFrontEnd/pages/home.html"] {
    background-color: green;
}

a[href="#About"] {
    background-color: green;
}

a[href="#Contact"] {
    background-color: green;
}
a[href="#/CursoFrontEnd/pages/rules.html"] {
    background-color: green;
}
a[href="/CursoFrontEnd/pages/schedule.html"] {
    background-color: green;
}


#titulo {
    width: 100%;
}

#icon {
    width: 15%;
    display: inline-block;
}



h2 {
    text-align: center;


    border-style: solid;

}

#img1 {
    width: 100%;
    height: 50%;
}


article {

    margin: 1em;
    padding: 1em;
    
    width: 30%;
    vertical-align: top;
    display: inline-block;
    
}

#foto {
    width: 30%;
    display: inline-block;
    margin: 50px;

}
div{
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;

}
div p{
    padding: 1em;
    margin: 1em;
}

div ul{
    margin: 1em;
    padding: 1em;
}
.schedule{
    display: flex;
    flex-direction:column ;
    justify-content: center;

}
td, th{
    padding: .5rem;
}
.scheduletext{
    display: flex;
    align-items: baseline;
}



