* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    min-height: 10vh;
    padding: 1 rem;
}

#title {
    display: inline-block;
    padding: 1rem;
    

}

nav {
    height: 5vh;
    padding: 0.8rem;
    text-align: right;

}

nav a {
    padding: 0.5rem;
    text-align: center;

}

a:active{
    background-color: blue;
    color: white;
}
a:hover{
    background-color: green;
    color: whitesmoke;
}




#titulo {
    width: 100%;
}

#icon {
    width: 15%;
    display: inline-block;
}



h2 {
    text-align: center;


    border-style: solid;

}

#img1 {
    width: 100%;
    height: 50%;
}


article {

    margin: 1em;
    padding: 1em;
    
    width: 30%;
    vertical-align: top;
    display: inline-block;
    
}

#foto {
    width: 30%;
    display: inline-block;
    margin: 50px;

}
div{
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;

}
div p{
    padding: 1em;
    margin: 1em;
}

div ul{
    margin: 1em;
    padding: 1em;
}
.schedule{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    
}
td, th{
    padding: .5rem;
    border: 1px solid;
}
.scheduletext{
    display: flex;
    align-items: baseline;
}

form{
    width: 100%;
    height: 100vh;
    font-family: Tahoma;
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    display: flex;
    flex-direction: column;

}
label{
    display: flex;
    margin: 0.5rem;
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: flex-start;
}
input{
    
    
}

fieldset{
    border: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
}
form h3{
    text-align: center;
}
form h4{
    padding: 0.5em;
}
form p{
    padding: 0.5em;
}
button{
    display: block;
    width: 60%;
    margin: 1em auto 1em auto;
    height: 2em;
    font-size: 1.1rem;
  
    min-width: 300px;
}
iframe{
    display: flex;
    width: 200px;
    height: 100px;

}


